.full-width {
  width: 100%;
}

.form-card {
  min-width: 120px;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

table {
  width: 100%;
}

.mat-column-actions {
  text-align: right;
}


.row-form {
  display: flex;
  flex-direction: row;
}

.col-form {
  flex: 10;
  margin-right: 20px;
}

.col-form:last-child {
  margin-right: 0;
}






